@font-face {
	font-family: Akkurat; 
	src: url(Akkurat.ttf);
}

body{
	font-family:Akkurat;
	font-size:2.8vh;

}

.container{
	display:flex;
	flex-wrap:wrap;

	width:100vw;
	height:100vh;
	padding: 10px;
}

.right{
	width:50vw;
	height:100vh;
	padding:10px;
	overflow:scroll;
	height:100%;
	border-right: 1px black solid;
	display:block;
	
}

.name{
	text-indent: 5%;
	font-size: 3.5vh;
	line-height: 4.2vh;
}

.flexwarp{
	flex-wrap: wrap;
}

.flexwrapper{
	display:flex;
}

.w1of2{
	width:50%;
}

.bt{
	border-top:1px solid black;
}

.pt-5{
	padding-top:5px;
}

.pb-5{
	padding-bottom: 5px;
}

.title-1{
	cursor:pointer;
}

.title-2{
	cursor: pointer;
}

.toggle-content{
	width:100%;
	display:none;
}

.link{
	color:black;
	font-style: italic;
	text-decoration: none;
}

.bb{
	border-bottom: 1px black solid;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color:#dcdcdc;
}

.left{
	width:50vw;
	height:100vh;
	padding:20px;
	overflow:scroll;
	display:block;
	height:100%;
	position:fixed;
	right:0px;
	top:0px;
}


.images{
	display:none;
	cursor: pointer;
}

.size{
	width:30vw;
}

.i-1{
	position:fixed;
	top:5%;
}

.i-4{
	position:fixed;
	top:16%;
	right:2%;
}

.i-5{
	position:fixed;
	top:30%;
	right:5%;
}

.i-6{
	position:fixed;
	top:35%;
	right:12%;
}


.show {
	display: block;
}








