body {
	font-family: Helvetica,sans-serif;	
	 cursor: url("cursor.png"), auto;
}

@font-face {
	font-family: Snell; 
	src: url(Snell.otf);
}

.brsmall{
	display: block;
	height:10px;
}

hr{
	height:1px;
	border-width:0;
	color:black;
	background-color:black;
}

.w1of2{
	width:50%;
}

.image{
	border:black 1px solid;
	padding: 10px;
}

.indent1{
	padding-left: 60px;
}

.indent2{
	padding-right: 60px;
}

.snell{
	font-family: Snell; 
	font-size:40px;
}

/*start 2020*/
.year{
	background-image: url(frame.png);
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	height:200px;
	width:200px;
	
	padding:20px;
	position:absolute;

	animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: 10;

}

.year:hover{
	transform: rotate(360deg);
	transition-duration: 2s;
	 cursor: url("cursor1.png"), auto;
	 animation-play-state: paused;
}


@keyframes move {
    0% {top:0%;
        left:0%;}

    25% {top:0%;
        left:84.2%;}
    
    50%{top:72%;
        left:0%;}

    75% {top:72%;
      left:84.2%;}

     100%{top:0%;
        left:0%;}
}



/* start homepage*/

.container{
	display:grid;
	grid-template-columns: auto auto;
	
	height: 100vh;
	width:100vw;
	padding:20px;
	z-index:-1;
}

.outline{
	outline:1pt black solid;
}


.fell{
	color:white;
	font-size: 50pt;
	font-style: italic;
	-webkit-text-stroke: 1px black;
	text-align: center;
	display: flex;	
	justify-content: center;
	align-items: center;
}

.exploit{
	color:white;
	font-size: 50pt;
	font-style: italic;
	-webkit-text-stroke: 1px black;
	text-align: center;
	display: flex;	
	justify-content: center;
	align-items: center;	
}

.pollute{
	color:white;
	font-size: 50pt;
	font-style: italic;
	-webkit-text-stroke: 1px black;
	text-align: center;
	display: flex;	
	justify-content: center;
	align-items: center;	
}

.test{
	color:white;
	font-size: 50pt;
	font-style: italic;
	-webkit-text-stroke: 1px black;
	text-align: center;
	display: flex;	
	justify-content: center;
	align-items: center;	
}

.hover{
color:white;
}

.hover:hover{
	color:black;
	transition-duration: 0.5s;
	cursor: url("cursor1.png"), auto;
}


.plant_o{
	background-image: url(plant_o.jpg);
	background-position: center;
	background-size: cover;	

}

.tube_o{
	background-image: url(tube_o.jpg);
	background-position: center;
	background-size: cover;
}

.match_o{
	background-image: url(match_o.jpg);
	background-position: center;
	background-size: cover;
}

.fan_o{
	background-image: url(fan_o.jpg);
	background-position: center;
	background-size: cover;
}
/*end homepage*/


/*start slidein essay*/
.close{
	height:40px;
	cursor:url(back.png),auto;
}

.scrolling{
	padding:20px;
	font-size:30px;	
	text-align: justify;
	
	overflow:scroll;
	height:100%;
	border-top: 1px	black solid;
	border-bottom: 1px	black solid;
	border-left: 1px	black solid;
}


/*start slide in 1*/


.slidein1{
	display:flex;
	flex-wrap:wrap;

	height: 100vh;
	width:100vw;
	padding:20px;
	background-color: white;

	position:fixed;
	top:0px;
	left:0px;
  	margin-left: -100vw;
	transition: 1s;}

.plant{
	width:55%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position:relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);}

.slidein1.slide {
  margin-left: 0;
  transition: 1s;
}
/*end slide in 1*/

/*start slide in 2*/
.slidein2{
	display:flex;
	flex-wrap:wrap;

	height: 100vh;
	width:100vw;
	padding:20px;
	background-color: white;

	position:fixed;
	top:0px;
	left:0px;
  	margin-left: -100vw;

	transition: 1s;}

.slidein2.slide {
  margin-left: 0%;
  transition: 1s;
}

.tube{
	width:60%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position:relative;
	top: 45%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);}
/*end slide in 2*/


/*start slide in 3*/
.slidein3{
	display:flex;
	flex-wrap:wrap;

	height: 100vh;
	width:100vw;
	padding:20px;
	background-color: white;
	
	position:fixed;
	top:0px;
	left:0px;
  	margin-left: -100vw;

	transition: 1s;}

.slidein3.slide{
	margin-left: 0%;
 	transition: 1s;
}

.match{
	width:65%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position:relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);}
/*end slide in 3*/


/*start slide in 4*/
.slidein4{
	display:flex;
	flex-wrap:wrap;

	height: 100vh;
	width:100vw;
	padding:20px;
	background-color: white;
	
	position:fixed;
	top:0px;
	left:0px;
  	margin-left: -100vw;

	transition: 1s;}

.slidein4.slide{
	margin-left: 0%;
 	transition: 1s;
}

.fan{
	width:65%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position:relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);}
/*end slide in */














































